<?xml version="1.0" encoding="utf-8"?>
<forumsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="6.1.4300.0">
	<notifications newPostNotificationTemplateId="b14d74e9-c227-6ad9-9c61-ff00004c07ba" newThreadNotificationTemplateId="b24d74e9-c227-6ad9-9c61-ff00004c07ba" />
</forumsConfig>